# Сгенерированные файлы
build/
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Sphinx
.doctrees/
*.doctree

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
.parcel-cache

*.mo
source/_static/dist